<% panel "Алкотестер: пейте проверенное!", :main => true do %>
  <% if @result.blank? %>
    <p class="note">
      Мы разработали программу, которая 100% точно позволяет выявить контрафактный алкоголь.
      Как известно, наибольшую опасность для здоровья представляют «паленая» водка.
      Теперь вы можете сами за считанные секунды проверить бутылку, вызвавшую у вас сомнения.
      Алгоритм проверки рекомендован <a href="http://www.rospotrebnadzor.ru/">Роспотребнадзором</a>.
    </p>
  <% else %>
    <p><strong>Результат проверки:</strong> <%= @result %></p>

    <p>Хотите проверить еще одну бутылку?</p>
  <% end %>

  <% form_tag do %>
    <p>
      <label for="code">Введите штрих-код бутылки:</label>
      <%= text_field_tag :code, @code %>
    </p>

    <%= submit_tag "Проверить" %>
  <% end %>
<% end %>